/* .btn {
    background-color:hotpink;
    padding: 30px;
    transition: all 1.0s;
    position: absolute;
    overflow: hidden;
    
}

.top{
    top: 0;
}

.botton{
    top: 200px;
}

.content{
    position: relative;
}

.btn:hover{
    background-color:chartreuse;
    color: white;
    font-size: 50px;
}

.btn:hover .top{
    top: -100px;
  
}

.btn:hover .botton{
    top: 0px;

}

.modal,
.modal-overlay {
 visibility: hidden;
 opacity: 0;
}

.modal.active,
.modal-overlay.active {
 opacity: 1;
 visibility: visible;
} */


.modal {
    background-color:hotpink;
    padding: 30px;
    transition: all 1.0s;
    padding: 30px;
    position: absolute;


}

.modal:hover{
    
    letter-spacing: 50px;
    border-radius: 20px;
    border: solid;
    border-color: darkturquoise;
}