

.App {
  text-align: center;
}

.carta {
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 43vw;
  background-color:rgba(248, 195, 116, 0.904);
  border-radius: 10px;
  display: flex;
}

.divider {
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1px;
  width: 50vw;
}

.imagen {
  width: 15vw;
  height: 15vw;
}

.container
{
  margin-top: 8vw;
  margin-left: 36vw;
  margin-right: 36vw;
}
