<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmacion</title>
</head>
<body>
    <h1>
        ¡¡¡Comentario almacenado!!!
    </h1>
    <p>
        Gracias por enviarnos tu comentario, añade uno nuevo o revisa todos los anteriores
    </p>

    <a href="{% url 'comentario_list' %}">Nuevo Comentario</a>
    <a href="{% url 'todos_comentarios' %}">Ver Comentarios</a>
</body>
</html>