<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>Detalles</title>
</head>
<body>
    <h1>Titulo</h1>
    <p> {{ libro.titulo }}</p>

    <h2>Autor</h2>
    <p> {{ libro.autor }}</p>

    <h2>Rating</h2>
    <p> {{ libro.rating }}</p>

    <h2>Sinopsis</h2>
    <p> {{ libro.sinopsis }}</p>
</body>
</html>