<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>borrar libro</title>
</head>
<body>
    <h1>Delete</h1>
    <form method="post">{% csrf_token %}
        <p>Estas seguro que quieres borrar "{{ object }}"?</p>
        {{ form }}
        <input type="submit" value="Confirmar">
    </form>
</body>
</html>