<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>Libro Nuevo</title>
</head>
<body>
    <h1>Completar formulario</h1>
    <form action="{% url 'new'%}" method="POST">
        {% csrf_token%}
        {{ form.as_p }}
        <button type="submit">Botón</button>
    </form>
</body>
</html>