<html>
<head>
    <title>ToDoList</title>    
</head>
<body>

   <!-- <h1>Tareas Nuevas</h1>
    <form action="{% url 'proyecttask_list' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Nueva tarea</button>
    </form>   -->
        <h1>Lista de Tareas</h1>
        <ul>
        {% for task in tasks %}
        <h2><a href="{% url 'proyecttask_num' pk=task.pk %}">{{ task.title }}</a></h2>
        {% empty %}
        <li>No hay tareas por hacer.</li>
        {% endfor %}
        </ul>

        <button type="submit">Nueva Tarea</button>
</body>
</html>