<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de libros</h1>
    <ul>
        {% for libro in libros %}
        <li>{{ libro.titulo }} - {{ libro.autor }} ({{ libro.comentario }})</li>
        {% empty %}
        <li>No hay libros que mostrar.</li>
        {% endfor %}
    </ul>

    <form action="{% url 'libro_list' %}">
        <button type="submit">Editar</button>
    </form>
</body>
</html>m